@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Sevillana&display=swap');

    :root{

    /* root é a caixinha de variáveis */
    --cor-de-fundo:#3ac672;
    --texto: #ffffff;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-feature-settings: "auto";
    font-weight: 400;
    background-color: var(--cor-de-fundo);
    color: var(--texto);
}