@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Sevillana&display=swap');

body{
   color: white;
   padding: 10px;
}
.topo{
   display: flex;
    padding: 1px 20px;
    background-color: #3AC672;
}

.texo{
   position: absolute;
   right: 440px;
   padding: 25px;
   font-size: x-large;
   color: black;
   font-family: "Inter", sans-serif;
   text-decoration: underline;
}
.texto{
   position: absolute;
   right: 365px;
   padding: 25px;
   font-size: x-large;
   color: black;
   font-family: "Inter", sans-serif;
   text-decoration: underline;
}
.logo{
   width: 13%;
}

.título{
   text-align: center;
   padding: 40px;
   color: black;
   font-family: "Inter", sans-serif;
   font-style: italic;
}

.mato1{
   display: flex;
}

.mato2{
   display: flex;
   padding: 100px 10px;
}

.mato3{
   display: flex;
}

.mato4{
   display: flex;
   padding: 100px 10px;
}

.ma{
   width: 36%;
   height: 2%;
   padding: 19px 42px;
   background-color: #DEF5DE;
   }

   .mato5{
       display: flex;
    }

    .mato6{
       display: flex;
       padding: 100px 10px;
    }

    .mato7{
       display: flex;
    }

    .mato8{
       display: flex;
       padding: 100px 10px;
    }

    .mato9{
     display: flex;
  }

.color{
   color: black;
   padding: 73px 1px;
   text-align: center;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 240;
 font-style: italic;

}

.título2{
   display: flex;
   padding: 10px;
   color: black;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 400;
 position: absolute;
   padding: 8% 15%;
}

.título3{
   display: flex;
   padding: 10px;
   color: black;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 400;
 position: absolute;
 padding: 0% 62%;
 text-align: center;
}

.título4{
   display: flex;
   padding: 10px;
   color: black;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 400;
 position: absolute;
 padding: 8% 16%;
 text-align: center;
}

.título5{
   display: flex;
   padding: 10px;
   color: black;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 400;
 position: absolute;
 padding: 0% 64%;
 text-align: center;
}

.título6{
   display: flex;
   padding: 10px;
   color: black;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 400;
 position: absolute;
 padding: 8% 23%;
 text-align: center;
}

.título7{
   display: flex;
   padding: 10px;
   color: black;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 400;
 position: absolute;
 padding: 0% 64%;
 text-align: center;
}

.título8{
   display: flex;
   padding: 10px;
   color: black;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 400;
 position: absolute;
 padding: 6% 63%;
 text-align: center;
}

.título9{
 display: flex;
   padding: 10px;
   color: black;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 400;
 position: absolute;
 padding: 2% 23%;
 text-align: center;
}

.resu{
   display: flex;
   padding: 0% 1%;
   color: black;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 position: absolute;
 text-align: center;
  
}

.resu2{
   color: black;
   text-align: center;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 240;
 font-style: italic;
   
}

.sumário{
 position: relative;
 display: inline-block;
 text-align: center;
 font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 font-weight: 240;
 font-style: italic;
}
.e{
 color: black;
 position: absolute;
 top: 2%;
 left: 50%;
 transform: translate(-12%,-50%);
 font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}

.t1{
 color: black;
 position: absolute;
 top: 18%;
 left: 50%;
 transform: translate(-18%,-50%);
}

.t2{
 color: black;
 position: absolute;
 top: 32%;
 left: 50%;
 transform: translate(-18%,-50%);
}

.t3{
 color: black;
 position: absolute;
 top: 45%;
 left: 50%;
 transform: translate(-18%,-50%);
}

.t4{
 color: black;
 position: absolute;
 top: 61%;
 left: 50%;
 transform: translate(-18%,-50%);
}

.t5{
 color: black;
 position: absolute;
 top: 81%;
 left: 50%;
 transform: translate(-18%,-50%);
}

.ret{
 width: 130%
}

.fim{
 display: flex;
    padding: 1px 20px;
    background-color: #3AC672;
    position: relative;
   bottom: -235px;
}

.logofim{
 padding: 0% 44%;
}