@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Sevillana&display=swap');

body{
   color: white;
   padding: 10px;
}
topo{
   display: flex;
    padding: 1px 20px;
    background-color: #3AC672;
}

.texo{
   position: absolute;
   right: 440px;
   padding: 25px;
   font-size: x-large;
   color: black;
   font-family: "Inter", sans-serif;
   text-decoration: underline;
}